.light-theme-bg {
  background-color: blanchedalmond;
}

.username-basic {
  color: blanchedalmond;
}

.dark-theme-bg {
  background-color: rgb(16, 0, 27);
}

.colour-dark {
  color: indigo !important;
}

.colour-light {
  color: blanchedalmond !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 0.1rem solid indigo;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: indigo;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 0, 96);
}

.inbox {
  transition: 300ms;
  color: blanchedalmond;
}

.inbox:hover {
  background-color: rgb(178, 182, 255);
  cursor: pointer;
  transition: 200ms;
  color: indigo;
}

a {
  color: white;
}

.emoji {
  cursor: pointer;
}

.emoji:hover {
  font-size: 1.5rem;
  transition: all ease-in-out 0.24s;
}

.changeDP {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.477);
  z-index: 100;
  position: absolute;
  cursor: pointer;
}
