body {
  background-color: blanchedalmond;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 0.1rem solid indigo;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: indigo;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 0, 96);
}

.inbox {
  transition: 300ms;
  color: blanchedalmond;
}

.inbox:hover {
  background-color: rgb(178, 182, 255);
  cursor: pointer;
  transition: 200ms;
  color: indigo;
}

a {
  color: white;
}